langchain_community
langchain
faiss-cpu
sentence-transformers==2.2.2
InstructorEmbedding
pypdf
streamlit
pynvml
torch
python-dotenv
--upgrade langchain-huggingface sentence-transformers huggingface_hub torch torchvision
