langchain>=0.2.2
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers>=2.2.2
InstructorEmbedding
pypdf
streamlit
pynvml
torch>=2.0.0
torchvision>=0.15.0
huggingface_hub>=0.18.0
python-dotenv
langchain-groq
